The bioinformatics research is of importance to answer many biological questions. The
question of where the area that results in replication initiation (OriC) is localized is of great
significance for future progress in many biological fields including research on viral vectors,
gene therapy and cancer. There is currently a lack of interdisciplinary knowledge in
bioinformatics, despite all the knowledge in biology and computer science. Thus to join the
two fields into the interdisciplinary science of bioinformatics, this project is investigating: <em>How
can an open source program be built with the functionality of finding the origin of replication
(OriC) in sequenced bacterial genomes utilizing fast algorithmic methods?</em> The used method
consisted of creating this application containing three main parts. The first part is managing the
genomes and the <a href="/OriC-finder/select/">integration with GenBank </a>. The second is built around a method of analysis called <a href="/OriC-finder/gc-skew/">CGC­skew</a> which examines the ratio of the different nucleobases in DNA. Finally an <a href="/OriC-finder/dnaa/">algorithm</a> finding the most common sequences of a certain length in DNA was made using
alternative data structures to optimize the runtime of the analysis. The application was developed open source
to open up the posibility for other people to be involved in the development of the code.
