<ol class="breadcrumb">
	<li class="active">
		<i class="fa fa-location-arrow"></i> Currently Selected DNA: <b id='selected-dna'>...</b>
	</li>
</ol>

<div class='row'>
	<div class='col-md-4'>

		<h3>Loading: <p class='percentage'></p></h3>
		<pre class='output'></pre>

	</div>
	<div class='col-md-4' style='text-align: center;'>
		<div id='synthesized-dna-graph-buffer' width='320' height='240' style='width: 320px; height: 240px; margin: auto;'></div>
	</div>
	<div class='col-md-4'>
		<table class="table" id='sequrence-table'>
			<thead>
				<tr>
					<th>Sequence</th>
					<th>BP index</th>
					<th>Reverse complement</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>ATCTCGA</td>
					<td>1203401</td>
					<td>TCGAGAT</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

