<div id='graph-placeholder' width='640' height='480' style='width: 640px; height: 480px;'></div>
<div id='synthesized-dna-graph-buffer' width='640' height='480' style='width: 640px; height: 480px;'></div>
