
<ol class="breadcrumb">
	<li class="active">
		<i class="fa fa-location-arrow"></i> Currently Selected DNA: <b id='selected-dna'>...</b>
	</li>
</ol>

<div class='row'>
	<div class='col-md-4'>

		<form>
			<table class="table">
				<tbody>
					<tr>
						<th>Name</th>
						<td id='dna-name'>...</td>
					</tr>
					<tr>
						<th>Accession</th>
						<td id='dna-fna'>...</td>
					</tr>
					<tr>
						<th>Bp length</th>
						<td><span id='dna-length'></span></td>
					</tr>
				</tbody>
			</table>
			<div class='form-group'>
				<label>Window size: <span id='window-size-label'>10000</span>bp</label>
				<input type='range' min='1000' max='1000000' step="1000" value="500000" id='window-size'>
			</div>
			<div class='form-group'>
				<label>

					<table class='fraction'>
						<tr>
							<td nowrap="nowrap">dy</td>
						</tr>
						<tr>
							<td class='bottom'>dx</td>
						</tr>
					</table>

					Sample frequency: every <span id='inclanation-freq-label'>100th</span>
				</label>
				<input type='range' min='1' max='500' step="1" value="100" id='inclanation-freq'>
			</div>
			<div class='form-group'>
				<label>

					<table class='fraction'>
						<tr>
							<td nowrap="nowrap">dy</td>
						</tr>
						<tr>
							<td class='bottom'>dx</td>
						</tr>
					</table>

					Diff threshold: <span id='threshold-label'></span></label>
				<input type='range' min='0.01' max='0.2' step="0.01" value="0.1" id='threshold'>
			</div>
			<div class='form-group'>
				<label>Speed cap: <span id='speed-cap-label'>uncapped</span></label>
				<input type='range' min='10' max='65' step="5" value="65" id='speed-cap'>
			</div>
			<div class="form-group">
				<p>
					<button type="button" class="btn btn-primary btn-lg" id="start-analyze">Run</button>
					<button type="button" class="btn btn-danger btn-lg" id="stop-analyze" disabled="disabled">Stop</button>
					<button type="button" class="btn btn-link btn-lg" disabled="disabled" id="skew-progress"></button>
				</p>
			</div>	
		</form>


	</div>
	<div class='col-md-4'>
		<div id='synthesized-dna-graph-buffer' width='320' height='240' style='width: 320px; height: 240px;'></div>
	</div>
	<div class='col-md-4'>
		<div id='graph-placeholder' width='320' height='240' style='width: 320px; height: 240px;'></div>
	</div>
</div>
